
<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input_field :title, placeholder: "Título", class: "article-form__title-input article-show__title mb-5" %>
    <%= f.input_field :summary, placeholder: "Escrever uma epítome do texto, caso haja...", class: "article-form__summary-input" %>
    <div data-controller="image-preview">
      <%= f.input :photo, as: :file, input_html: {direct_upload: true, data: {image_preview_target:"input", action:"change->image-preview#preview"}}, label:'Foto de Capa do Artigo', class: "article-form__photo-input"%>
      <% if @article.photo.attached? %>
      <%= cl_image_tag @article.photo.key,data: {image_preview_target:"preview"} ,width: 700, crop: :fill %>
        <% else %>
      <% end %>
    </div>
    <%= f.input_field :creation_date, as: :date, html5: true%>
    <%= f.input_field :category_id, collection: Category.all.map {|category| ["#{category.title}", category.id.to_i]}%>
    <div data-controller="trix-navbar">
      <%= f.rich_text_area :content, placeholder: "Texto do artigo..." %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar",class:"article-form__save-button mt-3" %>
  </div>
<% end %>
